.product-grid {
    padding: 2.5rem 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr) minmax(160px, 1fr) minmax(160px, 1fr));
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;    
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
