.card {    
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;    
    height: 100%; 
}

.text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    
    height: 100%;
}

img {
    width: 100%;
    height: auto;
  }

.name {
    margin-top: 6px;
    margin-bottom: 0;
}

.hero {
    margin: 0;
    color: orangered;
}

.detail {
    margin: 0;    
}

.info {
    max-width: 200px; 
}

.bottom-row {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2px;
}

.price {
    font-weight: bold;
    font-size: large;    
}

.offer {
    font-size: 12px;
    font-weight: bold;
    color: green;
    margin-left: 5px;
}

.cart-btn {
    color: darkblue;
    background: none;
    border: none;
    cursor: pointer;
    transform: scale(1.2);
}

.cart-btn:hover {
    color: rgb(0, 0, 255);
}
