<mat-card class="card">
    <img [src]="product.imageUrl" (load)="calculateColSpan($event)"/>
    <div class="text-info">
        <div>
          <h1 class="name">{{ product.name }}</h1>
          <h2 class="hero">{{ product.hero }}</h2>
          <h3 class="detail">{{ product.detail }}</h3>
          <p class="info">{{ product.info }}</p>
        </div>        
        <div class="bottom-row">
          <div>
            <span class="price">{{ product.price | currency }}</span>
            <span class="offer">{{ product.offer }}</span>
          </div>          
          <button class="cart-btn" (click)="addToCart()">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>
</mat-card>
