
html, body { height: 100%; }
body { 
    background-color: rgb(250, 250, 250);
    margin: 0; 
    font-family: Roboto, 
    "Helvetica Neue", sans-serif; 
}

.custom-snack-bar {
    text-align: center;
    width: fit-content;
}
